.container {
    width: 90%;
    margin: 50px auto 0 auto;
    overflow: hidden;
}

.month-money {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.month-expense,
.month-income {
    display: flex;
    margin: 10px;
    text-align: center;
}

#expenseAmount {
    margin-left: 10px;
    color: red;
}

#incomeAmount {
    margin-left: 10px;
    color: green;
}

.month-expense h3,
.month-income h3,
#expenseAmount,
#incomeAmount {
    font-size: 24px;
    font-size: bold;
}

/* Style for the calendar */
.calendar {
    /* Adjust the height as needed, considering margin-top and margin-bottom */
    overflow: auto;
    /* Enable scrolling within the calendar */
}

/* FullCalendar styles */
.fc-event {
    cursor: pointer;
}

/* Optional: Add some hover effect for better user experience */
.fc-event:hover {
    background-color: #f0f0f0;
}

/* Optional: Style the header of the calendar */
.fc-toolbar {
    margin-bottom: 20px;
}

/* Optional: Style the button in the header */
.fc-button {
    background-color: #007bff;
    color: #fff;
}

.fc-button:hover {
    background-color: #0056b3;
}

/* Full Calendar */
#calendar {
    align-items: center;
    cursor: pointer;
}

.fc-prev-button::after,
.fc-next-button::before {
    content: attr(title);
}

/*週*/
.fc-col-header-cell {
    background: #d3d3d3;
}

.fc-header-toolbar,
.fc-view-harness,
.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table {
    width: 100%;
}

.fc .fc-daygrid-day-frame {
    min-height: 100%;
    position: relative;
    padding: 10px;
}

/* モーダル */
/* モーダル用のスタイル */
.modal {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999;
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.modal__content-inner {
    background-color: white;
    width: 500px;
    text-align: center;
    padding: 10px 50px 50px 50px;
    position: relative;
}

.modal__content-inner h2 {
    margin-bottom: 40px;
}


.batsu::before,
.batsu::after {
    /* 共通設定 */
    content: "";
    position: absolute;
    top: 25px;
    right: 25px;
    width: 5px;
    /* 棒の幅（太さ） */
    height: 30px;
    /* 棒の高さ */
    background: #333;
    border-radius: 2.5px;
    cursor: pointer;
}

.batsu::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.fc-event-title:hover {
    /* ホバー時のスタイルを無効にする */
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

.fc-h-event .fc-event-title-container {
    text-align: right;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-right: 2px;
    border: 1px solid #fff;
}

/* tab */
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: DeepSkyBlue;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}