.container {
    width: 90%;
    margin: 50px auto 0 auto;
    overflow: hidden;
}

.month-money {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.month-expense,
.month-income {
    display: flex;
    margin: 10px;
    text-align: center;
}

#expenseAmount {
    margin-left: 10px;
    color: red;
}

#incomeAmount {
    margin-left: 10px;
    color: green;
}

.month-expense h3,
.month-income h3,
#expenseAmount,
#incomeAmount {
    font-size: 24px;
    font-size: bold;
}

/* Style for the calendar */
.calendar {
    /* Adjust the height as needed, considering margin-top and margin-bottom */
    overflow: auto;
    /* Enable scrolling within the calendar */
}

/* FullCalendar styles */
.fc-event {
    cursor: pointer;
}

/* Optional: Add some hover effect for better user experience */
.fc-event:hover {
    background-color: #f0f0f0;
}

/* Optional: Style the header of the calendar */
.fc-toolbar {
    margin-bottom: 20px;
}

/* Optional: Style the button in the header */
.fc-button {
    background-color: #007bff;
    color: #fff;
}

.fc-button:hover {
    background-color: #0056b3;
}

/* Full Calendar */
#calendar {
    align-items: center;
    cursor: pointer;
}

.fc-prev-button::after,
.fc-next-button::before {
    content: attr(title);
}

/*週*/
.fc-col-header-cell {
    background: #d3d3d3;
}

.fc-header-toolbar,
.fc-view-harness,
.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table {
    width: 100%;
}

.fc .fc-daygrid-day-frame {
    min-height: 100%;
    position: relative;
    padding: 10px;
}

/* モーダル */
/* モーダル用のスタイル */
.modal {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999;
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.modal__content-inner {
    background-color: white;
    text-align: center;
    padding: 10px 50px 50px 50px;
    position: relative;
}

.modal__content-inner h2 {
    margin-bottom: 40px;
}


.batsu::before,
.batsu::after {
    /* 共通設定 */
    content: "";
    position: absolute;
    top: 25px;
    right: 25px;
    width: 5px;
    /* 棒の幅（太さ） */
    height: 30px;
    /* 棒の高さ */
    background: #333;
    border-radius: 2.5px;
    cursor: pointer;
}

.batsu::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.fc-event-title:hover {
    /* ホバー時のスタイルを無効にする */
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

.fc-h-event .fc-event-title-container {
    text-align: right;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-right: 2px;
    border: 1px solid #fff;
}

/* tab */
/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    table-layout: fixed;
}

/*選択されているタブのコンテンツのみを表示*/
#expense:checked~#expense_content,
#income:checked~#income_content {
    display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
    background-color: #5ab4bd;
    color: #fff;
}


/* 共通の行ボックススタイル */
.expense_box,
.income_box {
    text-align: center;
}

/* ヘッダのスタイル */
.expense_head {
    width: 1000px;
    background-color: #f2f2f2;
    /* 行ボックスの背景色を設定 */
    padding: 10px;
}

.income_head {
    width: 1000px;
    background-color: #f2f2f2;
    /* 行ボックスの背景色を設定 */
    padding: 10px;
}

/* データセルのスタイル */
.expense_box td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    /* データ行の下にボーダーを設定 */
}

.income_box td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    /* データ行の下にボーダーを設定 */
}

/* 最後のデータ行のボーダーを削除 */
.expense_box tr:last-child td,
.income_box tr:last-child td {
    border-bottom: none;
}
