<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Category List</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/category.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <a th:href="@{/}"> 家計簿アプリ </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a th:href="@{/expense}">支出</a></li>
          <li class="header-nav-item"><a th:href="@{/income}">収入</a></li>
          <li class="header-nav-item"><a th:href="@{/user}">ユーザ登録</a></li>
          <li class="header-nav-item">
            <a th:href="@{/category}">カテゴリー</a>
          </li>
          <li class="header-nav-item">
            <a th:href="@{/payment-type}">支払い系統</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="category-header">
        <h1 class="category-title">カテゴリー一覧</h1>

        <div class="category-register-button">
          <input
            type="button"
            id="openBtn"
            value="追加"
            class="openBtn btn btn-success"
          />
        </div>
      </div>

      <ul th:each="category : ${categories}">
        <li class="category-list">
          <p th:text="${category.name}"></p>
          <div class="category-buttons">
            <input
              type="submit"
              id="edit-openBtn"
              class="btn btn-primary edit-category"
              th:attr="data-custom-data=${category.categoryId}"
              value="編集"
            />
            <form
              th:action="@{'/deleteCategory/' + ${category.categoryId}}"
              method="post"
              style="display: inline"
            >
              <button
                type="submit"
                class="btn btn-danger"
                onclick="return confirm('Are you sure?')"
              >
                削除
              </button>
            </form>
          </div>
        </li>
      </ul>

      <div id="modal" class="modal">
        <div class="modal__content">
          <div class="modal__content-inner">
            <h2>カテゴリー追加</h2>
            <span id="closeBtn" class="closeBtn batsu"></span>
            <form
              class="category-form"
              th:action="@{/category}"
              th:object="${category}"
              method="post"
            >
              <label for="name">カテゴリー名:</label>
              <input type="text" id="name" th:field="*{name}" required />

              <div class="button-position">
                <button type="submit">追加</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/category.js}"></script>
  </body>
</html>
