<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category List</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/category.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <a th:href="@{/}"> 家計簿アプリ </a>
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-item"><a th:href="@{/}">ホーム</a></li>
            <li class="header-nav-item"><a th:href="@{/user}">ユーザ登録</a></li>
            <li class="header-nav-item"><a th:href="@{/category}">カテゴリー</a></li>
            <li class="header-nav-item"><a th:href="@{/payment-type}">支払い系統</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="category-header">
        <h1 class="category-title">カテゴリー一覧</h1>

        <div class="category-register-button">
            <!-- Add New Category Button -->
            <a th:href="@{/addCategory}" class="btn btn-success">追加</a>
        </div>
    </div>


    <!-- Display the list of categories -->
    <ul th:each="category : ${categories}">
        <li class="category-list">
            <p th:text="${category.name}"></p>

            <div class="category-buttons">
                <!-- Edit Button -->
                <!-- Delete Button -->
                <form th:action="@{'/editCategory/' + ${category.id}}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-primary">編集</button>
                </form>

                <!-- Delete Button -->
                <form th:action="@{'/deleteCategory/' + ${category.id}}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">削除</button>
                </form>
            </div>
        </li>
    </ul>

</div>

</body>
</html>
