<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Category List</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/income.css}" rel="stylesheet" />
    <link th:href="@{/css/pagination.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <a th:href="@{/}"> 家計簿アプリ </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a th:href="@{/expense}">支出</a></li>
          <li class="header-nav-item"><a th:href="@{/income}">収入</a></li>
          <li class="header-nav-item"><a th:href="@{/user}">ユーザ登録</a></li>
          <li class="header-nav-item">
            <a th:href="@{/category}">カテゴリー</a>
          </li>
          <li class="header-nav-item">
            <a th:href="@{/payment-type}">支払い系統</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="income-header">
        <h1 class="income-title">収入一覧</h1>
        <div class="pagination">
          <ul>
            <th:block th:if="${totalPages > 1}">
              <li
                th:if="${currentPage > 0}"
                th:class="${currentPage == 0} ? 'disabled' : ''"
              >
                <a
                  th:href="@{'/income?page=' + (${currentPage - 1}) + '&size=' + ${size}}"
                  aria-label="Previous"
                >
                  前へ
                </a>
              </li>
              <li
                th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                th:class="${pageNumber == currentPage} ? 'active' : ''"
              >
                <a
                  th:if="${pageNumber != currentPage}"
                  th:href="@{'/income?page=' + ${pageNumber} + '&size=' + ${size}}"
                  th:text="${pageNumber + 1}"
                ></a>
                <span
                  th:if="${pageNumber == currentPage}"
                  th:text="${pageNumber + 1}"
                ></span>
              </li>
              <li
                th:if="${currentPage < totalPages - 1}"
                th:class="${currentPage == totalPages - 1} ? 'disabled' : ''"
              >
                <a
                  th:href="@{'/income?page=' + (${currentPage + 1}) + '&size=' + ${size}}"
                  aria-label="Next"
                >
                  次へ
                </a>
              </li>
            </th:block>
          </ul>
        </div>
        <div class="income-register-button">
          <input
            type="button"
            id="openBtn"
            value="追加"
            class="openBtn btn btn-success"
          />
        </div>
      </div>

      <table class="income-table">
        <tr class="income-head">
          <th>登録日</th>
          <th>収入名</th>
          <th>金額</th>
          <th>編集</th>
          <th>削除</th>
        </tr>

        <tr th:each="income : ${incomes}" class="income-contents">
          <td th:text="${income.date}"></td>
          <td th:text="${income.name}"></td>
          <td th:text="${income.price} + 円"></td>
          <td class="income-buttons">
            <input
              type="submit"
              id="edit-openBtn"
              class="btn btn-primary edit-income"
              th:attr="data-custom-data=${income.incomeId}"
              value="編集"
            />
          </td>
          <td>
            <input
              type="submit"
              class="btn btn-danger delete-openBtn"
              th:attr="delete-data=${income.incomeId}"
              value="削除"
            />
          </td>
        </tr>
      </table>

      <div id="modal" class="modal">
        <div class="modal__content">
          <div class="modal__content-inner">
            <h2>収入</h2>
            <span id="closeBtn" class="closeBtn batsu"></span>
            <form
              class="income-form"
              th:action="@{/income}"
              th:object="${income}"
              method="post"
            >
              <label for="incomeDate">登録日</label>
              <input type="date" id="incomeDate" th:field="*{date}" required />
              <label for="name">収入名:</label>
              <input type="text" id="name" th:field="*{name}" required />
              <label for="incomeAmount">料金</label>
              <input
                type="number"
                id="incomeAmount"
                th:field="*{price}"
                required
              />
              <div class="button-position">
                <button type="submit">追加</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div id="delete-modal" class="delete-modal">
        <div class="modal__content">
          <div class="modal__content-inner">
            <h2>本当に削除しますか？</h2>
            <div class="button-flex">
              <button
                id="delete-closeBtn"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                いいえ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/income.js}"></script>
  </body>
</html>
