<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>PaymentType List</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/paymentType.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <a th:href="@{/}"> 家計簿アプリ </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a th:href="@{/}">ホーム</a></li>
          <li class="header-nav-item"><a th:href="@{/income}">入金</a></li>
          <li class="header-nav-item"><a th:href="@{/user}">ユーザ登録</a></li>
          <li class="header-nav-item">
            <a th:href="@{/category}">カテゴリー</a>
          </li>
          <li class="header-nav-item">
            <a th:href="@{/payment-type}">支払い系統</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="payment-type-header">
        <h1 class="payment-type-title">支払い系統一覧</h1>

        <div class="payment-type-register-button">
          <!-- Add New PaymentType Button -->
          <input
            type="button"
            id="openBtn"
            value="追加"
            class="openBtn btn btn-success"
          />
        </div>
      </div>

      <!-- Display the list of categories -->
      <ul th:each="paymentType : ${paymentTypes}">
        <li class="payment-type-list">
          <p th:text="${paymentType.name}"></p>

          <div class="payment-type-buttons">
            <!-- Edit Button -->
            <!-- Delete Button -->
            <form
              th:action="@{'/editPaymentType/' + ${paymentType.paymentTypeId}}"
              method="post"
              style="display: inline"
            >
              <button type="submit" class="btn btn-primary">編集</button>
            </form>

            <!-- Delete Button -->
            <form
              th:action="@{'/deletePaymentType/' + ${paymentType.paymentTypeId}}"
              method="post"
              style="display: inline"
            >
              <button
                type="submit"
                class="btn btn-danger"
                onclick="return confirm('Are you sure?')"
              >
                削除
              </button>
            </form>
          </div>
        </li>
      </ul>

      <div id="modal" class="modal">
        <div class="modal__content">
          <div class="modal__content-inner">
            <h2>支払い系統追加</h2>
            <span id="closeBtn" class="closeBtn batsu"></span>
            <form
              class="payment-type-form"
              th:action="@{/payment-type}"
              th:object="${paymentType}"
              method="post"
            >
              <!-- Name field -->
              <label for="name">支払い系統名:</label>
              <input type="text" id="name" th:field="*{name}" required />

              <div class="button-position">
                <!-- Submit button -->
                <button type="submit">追加</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/paymentType.js}"></script>
  </body>
</html>
